.cartIcon{
    font-size: 20px;
    font-weight: 400;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    
    h4{
        font-weight: 300;
        padding-bottom: 2px;
    }
    
    &:hover{
        color: beige;
    }
}