.cartIcon{
    font-size: 2rem;
    font-weight: 300;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    color: #020202bf;
    
    h4{
        text-decoration: none;
        font-size: 1.2rem;
    }    
    &:hover{
        color: beige;
    }
}
.cartEmpty{
    padding: 1rem;
    min-height: 300px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    p{
        font-size: 1.5rem;
        color: #020202;
    }

    .continue{
        padding: 10px;
        margin: 2rem;
        border-radius: 10px;
        color: #020202;
        text-transform: uppercase;
        font-size: 1rem;
        text-decoration: underline;

        &:hover{
            color: #235789;
        }
    }
}
.cartContainer{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 35%;
    grid-template-areas: 
    'title title'
    'col-1 col-2'
    ;
    gap: 1rem;

    .cartHeader{
        grid-area: title;
    }
    .itemContainerCart{
        grid-area: col-1;
        border: 1px solid #595959;
        border-radius: 15px;
        background: #cacaca;
    }
    .itemCart{
        padding: 1rem;
        display: flex;
        
        .tags{
            display: flex;
            flex-direction: column;
            width: 90%;
            height: 100px;
            padding-left: 1rem;

            .cartTitle{
                font-weight: 600;
                font-size: 1.2rem;
            }
            .tag2{
                display: flex;
                flex-direction: row;
                gap: 2rem;

                .cartPrice{
                    font-weight: 700;
                }
                .cartQty{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;        
                }
                .cartText{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
            }
        }
        .erase{
            border: transparent;
            background: transparent;
            height: 30px;
            text-align: center;

            .trashIcon{
                font-size: 1.4rem;

                &:hover{
                    color: red;
                }
            }

        } 
    }
    .cartDetails{
        grid-area: col-2;
        border: 1px solid #595959;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        padding: 1rem;  
        gap: 1rem;
        background: #cacaca;
        text-align: justify;

        p{
            font-size: 1.2rem;
            margin-left: 0;
        }
        .cartBtns{
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 5px;

            .btnC{
                padding: 10px;     
                border: transparent;
                font-size: 1.2rem;
                transition: 0.3s;
            }
            .clean{
                background: #595959;

                &:hover{
                    background: #353535;
                }
            }
            .end{
                background: #020202;
                color: white;             

                &:hover{
                    background: #353535;
                }
            }
        }
        input{
            height: 50px;
            border-radius: 15px;
            border: none;            
        }
        input::placeholder{
            padding: 10px;
            letter-spacing: 5px;
            font-size: 1rem;
            font-weight: 500;
            color: #353535;
        }
    }

    .imgCart{
        width: 100px;
        height: 100px;
    }
    .linkM{
        color: #020202;
        &:hover{
            color: #cacaca;
        }
    }
}

@media only screen and (max-width: 680px) {
    .cartContainer{
        padding: 1rem;
        width: 100%;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        
        .itemCart{
            
    
            .tags{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-left: 1rem;
                height: 150px;
                .cartTitle{
                    font-size: 1.8rem;
                    font-weight: 600;
                    letter-spacing: 1.5px;
                
                }
    
                .tag2{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 0;
                }
            }
            
            .imgCart{
                width: 100px;
                height: 100px;
            }
        }
    }
}