.cardContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 1.5rem;
    width: 300px;
    transition: 0.4s all;
    background-color: rgba(210, 202, 202, 0.384);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 8px 0px;
}
.cardContainer:hover{
    transform: scale(1.02);
}
.cardImg{
    width: 200px;
    height: 200px;
    border: 1px solid gray;
    object-fit: cover;
}
.cardTitle{
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(29, 25, 25);
    text-transform: capitalize;
    text-align: center;
}
.cardDescription{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-align: center;
    padding: 0.5rem;
}
.cardPrice{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.details a{
    padding: 8px;
    background: #344;
    color: #fff;
    transition: 0.3s all;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;

    &:hover{
        background: #011638;
    }
}

@media only screen and (max-width: 1024px) {
    .cardContainer{
        width: 50%;
    }
    .cardDescription{
        padding: 1rem 6rem;
        line-height: 1.5rem;
    }
}

@media only screen and (max-width: 850px) {
    .cardContainer{
        width: 80%;
    }
    .cardDescription{
        padding: 1rem 3rem;
        line-height: 1.5rem;
    }
}