.cardContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 1.5rem;
    background-color: rgb(210, 202, 202);
    border-radius: 1rem;
    width: 25%;
}
.cardImg{
    width: 200px;
    height: 200px;
    border: 1px solid gray;
    border-radius: 5%;
}
.cardTitle{
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(29, 25, 25);
    text-transform: capitalize;
    text-align: center;
}
.cardDescription{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.1rem;
    text-align: center;
    padding: 0.5rem;
}
.cardPrice{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}
.cardBtn{
    margin-top: 1rem;
    padding: 0.5rem;
    background: rgba(140, 101, 230, 0.621);
    color: #fff;
    font-size: 1rem;
    text-align: center;
    border-radius: 1rem;
    transition: 0.4s;

    &:hover{
        background: rgba(58, 19, 234, 0.749);
        color: #fff;
    
    }
}
.details a{
    border-radius: 1rem;
    padding: 8px;
    background: #344;
    color: #fff;
    transition: 0.3s all;
    text-transform: uppercase;
    margin: 0.8rem;
    display: inline-block;
    text-decoration: none;

    &:hover{
        background: #011638;
    }
}

@media only screen and (max-width: 1024px) {
    .cardContainer{
        width: 50%;
    }
    .cardDescription{
        padding: 1rem 6rem;
        line-height: 1.5rem;
    }
}

@media only screen and (max-width: 850px) {
    .cardContainer{
        width: 80%;
    }
    .cardDescription{
        padding: 1rem 3rem;
        line-height: 1.5rem;
    }
}