.imgCarousel{
    height: 350px;
    padding-left: 10rem ;
}
.carousel{
    z-index: -1;
}
@media only screen and (max-width: 1024px) {
    .carousel ul{
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
}