header{
  max-width: 1366px;
  max-height: 80px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #90ABC3;
  z-index: 20;

  .navbarList{
    display: inline-flex;
    list-style: none;
    gap: 1rem;

    li{
      font-size: 1.2rem;

      .link{
        text-decoration: none;
        color: #FDFFFC;
        font-weight: 600;
        letter-spacing: 2px;

        &:hover{
          color: #020100;
        }
      }
    }
  }
  
  
  .log{
    display: inline-flex;
    gap: 10px;
    align-items: center;
    list-style: none;

     button{
      background: transparent;
      border: transparent;
      cursor: pointer;
      font-size: 2rem;
  }

  .navProfileImg{
    width: 30px;
    border-radius: 50%;
  }
  }
}
.menuIcon, .closeIcon{
  visibility: hidden;
}
@media only screen and (max-width: 1024px) {
  .menuIcon{
    visibility: visible;

  }
  .closeIcon{
    background: transparent;
      border: transparent;
      cursor: pointer;
      visibility: visible;
      position: absolute;
      top: 2rem;
      right: 4rem;
      font-size: 2rem;
  }
  nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s;
    transform: translateY(-100vh);
    background-color: #90ABC3;
    z-index: 2;
  }
  .navbarList{
    flex-direction: column;    
    justify-content: center;  
    align-items: center;
    font-size: 1.5rem;
    gap: 2rem;
  }
  .responsive{
    transform: translateY(0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header{
    justify-content: space-between;
  }
}