.cardsContainer{
    display: flex;
    width: 100%;
    background: rgb(104, 133, 133);
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 2rem;

    .marvelImg{
        height: 300px;
    }
}
