.thanksContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    background-color: #d8d8d8;

    .row-1{
        min-height: 30vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .row-2{
        min-height: 30vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;

        .home{
            padding: 10px;
            border: transparent;
            background: #011638;
            font-size: 20px;
            color: white;
            text-transform: capitalize;
            transition: 0.4s all ease;
            border-radius: 3px;
            &:hover{
                transform: scale(0.9);
                background: #01163880;
                color: black;
            }
        }
    }
}