*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
.nav{
  display: flex;
  justify-content: space-between;
  background-color: #E8AE68;
  color: rgb(6, 6, 6);
  align-items: center;
  padding: 0 3rem;
}
.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-flex;
  gap: 1rem;
}
.nav a{
  color: inherit;
  text-decoration: none;
}
.nav li{
  border-radius: 20%;
}
.nav li:hover{
  background-color: #E3A587;
}
.nav a:active{
  text-decoration: 2px red dotted;
}
.nav a:hover{
  color: beige;
}
.logo{
  transition: 0.5s all;
}
.logo:hover{
  transform: scale(1.2);
}

.App-logo {
  height: 3rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
